* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(236, 238, 241);
}

.container {
  width: 100%;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.navbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

form a {
  margin: auto;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 20px;
}

.terms a {
  text-decoration: none;
  color: rgb(19, 19, 192);
}

/* Links inside the navbar */

.navbar_signin {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 9px 12px;
  text-decoration: none;
  background-color: rgb(0, 119, 197);
  margin-right: 30px;
  margin-top: 10px;
  width: 200px;
  border-radius: 4px;
}

.terms {
  margin-top: 26px;
  font-size: 12px;
  color: inherit;
}

.terms span {
  display: block;
}

.navbar div span {
  display: block;
  margin-right: 30px;
  font-size: small;
}

.navbar div span a {
  text-decoration: none;
  font-size: small;
  color: rgb(88, 163, 223);
}

.fa {
  margin-right: 20px;
}

.form_wrapper {
  background-color: rgb(255, 255, 255);
  height: 92%;
  width: 38%;
  margin: auto;
  text-align: center;
  border: 1px black solid;
  border-radius: 4px;
  box-shadow: 1px 1px #000;
  margin-bottom: 40px;
}

form {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.form__header {
  margin-bottom: 30px;
}

form h2 {
  margin: auto;
  font-weight: 600;
  font-size: 20px;
  width: 60%;
  color: #000;
  margin-top: 15px;
  margin-bottom: 20px;
}

form p {
  margin: auto;
  font-weight: 300;
  font-size: 15px;
  color: #000;
  margin-bottom: 6px;
}

.header {
  width: 40%;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
}

.header_logo {
  height: 80px;
  padding: 20px;
  color: black;
  width: auto;
  text-transform: uppercase;
}

.header_logo img {
  height: 100%;
  color: rgba(27, 27, 27, 0.199);
}

.icons {
  text-align: center;
  height: 50px;
}

.header_icons {
  list-style: none;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header_icons img {
  height: 100%;
}

.header_icons li {
  flex: 1 1 33.33%;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}

label {
  display: inline-block;
  margin-left: 0;
  font-weight: 400;
  font-size: medium;
  float: left;
}

input[type="email"],
input[type="password"],
input[type="text"],
button[type="submit"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(3, 3, 3);
  border-radius: 5px;
}

small {
  text-align: right;
  font-size: 10px;
  margin-top: -5px;
  float: left;
}

.clear-fix {
  display: table;
  clear: both;
}

input[type="text"]:focus {
  border-bottom: 2px 1px rgba(73, 76, 238, 0.5);
  cursor: pointer;
  font-weight: 600;
  color: #000;
}

button[type="submit"] {
  width: 100%;
  background-color: hsl(224, 87%, 50%);
  cursor: pointer;
  color: #fff;
  font-weight: 600;
}

.capChar {
  height: 34px;
  font-size: 10px;
  font-weight: 200;
  background-color: #ccc;
  padding: 5px;
  text-align: center;
  justify-content: center;
  margin-top: 35px;
}

footer {
  font-size: 10px;
  font-weight: 300;
  background-color: inherit;
  width: 100%;
  margin: auto 0;
}

.footer_li {
  width: 30%;
  justify-content: center;
}

.footer_li li {
  font-size: 10px;
}
